{% extends 'base.html' %}

{% block head %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% endblock %}


{% block title %}Roman Walden - Contact{% endblock %}

{% block content %}
  <div class="container">
    <h1>Contact me</h1>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: <a href="mailto:romanwn@mail.com">romanwn@mail.com</a></p>
    <p><i class="fa fa-github" aria-hidden="true"></i> Github: <a href="https://github.com/romanw05">Romanw05</a></p>
  </div>
{% endblock %}
