<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Roman Walden Personal Website{% endblock %}</title>
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
      {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      {% block navigation %} {% include 'navigation_bar.html' %} {% endblock %}      
    </header>
    <div class="main_body">
    {% block content %}{% endblock %}
  </div>

    <footer>
      {% block footer %} {% include 'footer.html' %} {% endblock %}
    </footer>
    
    {% block scripts %}{% endblock %}
  </body>
</html>

